body {
    width: 100vw;
}

.row {
    margin: 0;
}
.col {
    padding: 0;
}
img {
    width: 100%;
    // max-width: 600px;
    height: 200px;
    display: block;
    object-fit: contain;
}

.even {
    background-color: yellow;
}
.odd {
    background-color: green;
}